@media all and (min-width: 480px) {
  .Signup {
    padding: 50px 50;
  }

  .Signup form {
    margin: 50;
    max-width: 180px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 50px;
  color: #999;
}
